@font-face {
	font-family: "roboto-font";
	src: url('Roboto-Light.ttf');
}
body {
    padding: 25px;
    background-color: white;
    color: #101010;
    font-size: 25px;
    font-family: "roboto-font", Helvetica, Arial, sans-serif;
}

.dark-mode {
    background-color: #101010;
    color: white;
}

.image-to-switch{
 filter: invert(0);
}

.trait{
	border-top: 0.1px solid;
	left: 0px;
	right: 0px;
}

p{
	padding-left:2em; 
	padding-top: 2px;
	padding-bottom: 0px;
	margin:3px;
}
h1{
	text-align:center;
	padding-left: 0em;
	padding-top: 2px;
	padding-bottom: 0px;
	margin:3px;

}
ul{
	margin: 0 0 0 4em;

}
h2{

	padding-left: 0em;
	padding-top: 2px;
	padding-bottom: 0px;
	margin:3px;

}
h3{

	padding-left: 1em;
	padding-top: 2px;
	padding-bottom: 0px;
	margin:3px;

}
div.main{
	/*border: 0.01px dashed white;*/
	position: absolute; 
	left: 10%;
	right: 10%;
}
img{
    filter: invert(1);
}
/*a.link{
	font-size:30px;
	font-family: serif;
	font-weight: bold;
	color: white;
	text-decoration:none !important;
	top: 20px;
}*/
